In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
survey_df = pd.read_csv('Stack Overflow Survey Responses (Modified).csv')
survey_df.head()

      SurveyDate  ...   RawSalary
0  2/28/18 20:20  ...         NaN
1  6/28/18 13:26  ...   70,841.00
2    6/6/18 3:37  ...         NaN
3    5/9/18 1:06  ...   21,426.00
4  4/12/18 22:41  ...  £41,671.00

[5 rows x 11 columns]

In [ ]:
print(survey_df.columns)

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby', 'Country',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary'],
      dtype='object')

In [ ]:
print(survey_df.dtypes)

SurveyDate                     object
FormalEducation                object
ConvertedSalary               float64
Hobby                          object
Country                        object
StackOverflowJobsRecommend    float64
VersionControl                 object
Age                             int64
Years Experience                int64
Gender                         object
RawSalary                      object
dtype: object

In [ ]:
only_ints = survey_df.select_dtypes(include=['int'])
print(only_ints.columns)

Index(['Age', 'Years Experience'], dtype='object')

In [ ]:
numeric_df = survey_df.select_dtypes(include=[int, float])
numeric_df.columns

Index(['ConvertedSalary', 'StackOverflowJobsRecommend', 'Age',
       'Years Experience'],
      dtype='object')

#One-hot Encoding

In [ ]:
one_hot_encoded = pd.get_dummies(survey_df, columns=['Country'], prefix='OH')

print(one_hot_encoded.columns)

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'OH_France', 'OH_India',
       'OH_Ireland', 'OH_Russia', 'OH_South Africa', 'OH_Spain', 'OH_Sweeden',
       'OH_UK', 'OH_USA', 'OH_Ukraine'],
      dtype='object')

#Dummy Encoding

In [ ]:
dummy_encoding = pd.get_dummies(survey_df, columns=['Country'], drop_first=True, prefix="DM")

dummy_encoding.columns

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'DM_India', 'DM_Ireland',
       'DM_Russia', 'DM_South Africa', 'DM_Spain', 'DM_Sweeden', 'DM_UK',
       'DM_USA', 'DM_Ukraine'],
      dtype='object')

In [ ]:
countries = survey_df['Country']

country_count = countries.value_counts()
print(country_count)

South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Ukraine           9
Ireland           5
Name: Country, dtype: int64

In [ ]:
mask = countries.isin(country_count[country_count<10].index)

countries[mask] = 'Other'

print(countries.value_counts())

South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Other            14
Name: Country, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
survey_df['Paid Job'] = 0

survey_df.head()

      SurveyDate  ... Paid Job
0  2/28/18 20:20  ...        0
1  6/28/18 13:26  ...        0
2    6/6/18 3:37  ...        0
3    5/9/18 1:06  ...        0
4  4/12/18 22:41  ...        0

[5 rows x 12 columns]

In [ ]:
survey_df.loc[survey_df['ConvertedSalary']>0, 'Paid Job']=1

survey_df.head()

      SurveyDate  ... Paid Job
0  2/28/18 20:20  ...        0
1  6/28/18 13:26  ...        1
2    6/6/18 3:37  ...        0
3    5/9/18 1:06  ...        1
4  4/12/18 22:41  ...        1

[5 rows x 12 columns]

#Bin continuous variables

In [ ]:
survey_df['equally binned'] = pd.cut(survey_df['ConvertedSalary'], bins = 5)

print(survey_df[['equally binned', 'ConvertedSalary']].head())

        equally binned  ConvertedSalary
0                  NaN              NaN
1  (-2000.0, 400000.0]          70841.0
2                  NaN              NaN
3  (-2000.0, 400000.0]          21426.0
4  (-2000.0, 400000.0]          41671.0

In [ ]:
bins = [-np.inf, 10000, 50000, 100000, 150000, np.inf]

labels = ['Very low', 'Low', 'Medium', 'High', 'Very high']

survey_df['boundary_binned'] = pd.cut(survey_df['ConvertedSalary'], bins, labels=labels)

print(survey_df[['boundary_binned', 'ConvertedSalary']].head())

  boundary_binned  ConvertedSalary
0             NaN              NaN
1          Medium          70841.0
2             NaN              NaN
3             Low          21426.0
4             Low          41671.0

In [ ]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SurveyDate                  999 non-null    object
 1   FormalEducation             999 non-null    object
 2   ConvertedSalary             665 non-null    float64
 3   Hobby                       999 non-null    object
 4   Country                     999 non-null    object
 5   StackOverflowJobsRecommend  487 non-null    float64
 6   VersionControl              999 non-null    object
 7   Age                         999 non-null    int64
 8   Years Experience            999 non-null    int64
 9   Gender                      693 non-null    object
 10  RawSalary                   665 non-null    object
 11  Paid Job                    999 non-null    int64
 12  equally binned              665 non-null    category
 13  boundary_binned             665 non-null    category
dtypes: category(2), float64(2), int64(3), object(7)
memory usage: 96.2+ KB

In [ ]:
print(survey_df.isnull())

     SurveyDate  FormalEducation  ...  equally binned  boundary_binned
0         False            False  ...            True             True
1         False            False  ...           False            False
2         False            False  ...            True             True
3         False            False  ...           False            False
4         False            False  ...           False            False
..          ...              ...  ...             ...              ...
994       False            False  ...            True             True
995       False            False  ...           False            False
996       False            False  ...           False            False
997       False            False  ...            True             True
998       False            False  ...           False            False

[999 rows x 14 columns]

In [ ]:
survey_df.isnull().sum()

SurveyDate                      0
FormalEducation                 0
ConvertedSalary               334
Hobby                           0
Country                         0
StackOverflowJobsRecommend    512
VersionControl                  0
Age                             0
Years Experience                0
Gender                        306
RawSalary                     334
Paid Job                        0
equally binned                334
boundary_binned               334
dtype: int64

In [ ]:
# Drop all rows at least one missing value
#survey_df.dropna('any')

In [ ]:
print(survey_df['Gender'].value_counts())

Male                                                                         632
Female                                                                        53
Transgender                                                                    2
Female;Male                                                                    2
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Female;Transgender                                                             1
Name: Gender, dtype: int64

In [ ]:
survey_df['Gender'].fillna('Not Given', inplace=True)
print(survey_df['Gender'].value_counts())

Male                                                                         632
Not Given                                                                    306
Female                                                                        53
Transgender                                                                    2
Female;Male                                                                    2
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Female;Transgender                                                             1
Name: Gender, dtype: int64

In [ ]:
print(survey_df['StackOverflowJobsRecommend'].head())

0    NaN
1    7.0
2    8.0
3    NaN
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64

In [ ]:
survey_df['StackOverflowJobsRecommend'].fillna(survey_df['StackOverflowJobsRecommend'].mean(), inplace=True)
print(survey_df['StackOverflowJobsRecommend'].head())

0    7.061602
1    7.000000
2    8.000000
3    7.061602
4    8.000000
Name: StackOverflowJobsRecommend, dtype: float64

In [ ]:
survey_df['StackOverflowJobsRecommend'] = round(survey_df['StackOverflowJobsRecommend'])
print(survey_df['StackOverflowJobsRecommend'].head())

0    7.0
1    7.0
2    8.0
3    7.0
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64

In [ ]:
survey_df['RawSalary'] = survey_df['RawSalary'].str.replace(',', '')

survey_df['RawSalary'] = survey_df['RawSalary'].str.replace('$','')

In [ ]:
numeric_vals = pd.to_numeric(survey_df['RawSalary'], errors='coerce')

# Find the indexes of missing values
idx = numeric_vals.isna()

# Print the relevant rows
print(survey_df['RawSalary'][idx])

0            NaN
2            NaN
4      £41671.00
6            NaN
8            NaN
         ...
989          NaN
990          NaN
992          NaN
994          NaN
997          NaN
Name: RawSalary, Length: 401, dtype: object

In [ ]:
survey_df['RawSalary'] = survey_df['RawSalary']\
                              .str.replace(',','')\
                              .str.replace('$','')\
                              .str.replace('£','')\
                              .astype(float)
 

print(survey_df['RawSalary'])

0            NaN
1        70841.0
2            NaN
3        21426.0
4        41671.0
         ...
994          NaN
995      58746.0
996      55000.0
997          NaN
998    1000000.0
Name: RawSalary, Length: 999, dtype: float64